<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= "<meta http-equiv=\"Refresh\" content=\"#{@refresh_interval}\">" if @refresh_interval %>
    <title>RIPTA Realtime<%= " :: #{@stop.name}" if @stop %></title>
    <meta name="description" content="Realtime status updates on the RIPTA bus system.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="<%= image_path "apple-touch-icon.png" %>">
    <link rel="icon" href="<%= image_path "favicon.png" %>">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="<%= asset_path "css/main.css" %>">
  </head>
  <body>
    <header>
      <h1>
        <a href="/">
          <img src="<%= image_path "ripta.png" %>" title="RIPTA"> Realtime
        </a>
      </h1>
    </header>

    <% if @stop %>
      <header class="secondary">
        <h3>
          <%= @stop.name %>
          <a href="/stops/<%= @stop.id %>/map">[map]</a>
          <a href="/stops/<%= @stop.id %>/nearby">[nearby]</a> 
          <a href="/stops">[all]</a> 
        </h3>
      </header>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <!-- TODO: change UA-XXXXX-Y to a real Google Analytics ID. -->
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>