<h2>Upcoming buses</h2>

<% if @stop_times.none? %>
  Sorry, it looks like there are no more buses at this stop today.
<% else %>
  <table>
    <tr>
      <th>ETA</th>
      <th>Route</th>
    </tr>
    <% @stop_times.each do |stop_time| %>
      <tr class="<%= "live" if stop_time.live? %> <%= "past" if stop_time.departure_time < Time.now - 30 %>">
        <td class="time">
          <% if stop_time.departure_time - Time.now <= -30 %>
            Departed
          <% elsif stop_time.departure_time - Time.now <= 30 %>
            Arriving now
          <% elsif stop_time.departure_time - Time.now <= 90 %>
            1 minute away
          <% elsif stop_time.departure_time - Time.now <= 600 %>
            <%= ((stop_time.departure_time - Time.now) / 60).round %> minutes away
          <% else %>
            <%= stop_time.departure_time.strftime("%l:%M%P") %>
          <% end %>
        </td>
        <td>
          <a href="<%= stop_time.trip.route.url %>">Route <%= stop_time.trip.route.short_name %></a>
          to
          <a href="/trips/<%= stop_time.trip.id %>"><%= stop_time.trip.headsign %></a>

          <% if stop_time.live? && stop_time.departure_time != stop_time.scheduled_departure_time %>
            <div class="original_schedule">
              Originally scheduled for <%= stop_time.scheduled_departure_time.strftime("%l:%M%P") %>;
              <% delay = stop_time.actual_departure_delay || stop_time.actual_arrival_delay %>
              <% if delay > 0 %>
                <%= delay / 60 %> minutes late
              <% elsif delay < 0 %>
                <%= delay.abs / 60 %> minutes early
              <% else %>
                on time
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if [72175, 16400, 16435, 16485, 16555, 72155, 16475, 16525, 16590, 16630, 16585, 72160, 16720, 72165, 72170].include? @stop.id.to_i
  # this is a list of all stop ids in Kennedy Plaza 
  %>
  <br>Kennedy Plaza Stop Guide: <br><img src="/images/kennedy_plaza_stops.jpg" width=400 style="padding-top: 5px"><br>
<% end %>