<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

<style>
#mapid { height: 400px; width: 100% }
</style>

<h2><%= @trip.route_id %> to <%= @trip.headsign %></h2>

<div id="mapid"></div>

<script>
  var busIcon = L.icon({
      iconUrl: '/images/bus_marker_small.png',
      iconSize:     [50, 71], // size of the icon
      iconAnchor:   [24, 71], // point of the icon which will correspond to marker's location
      popupAnchor:  [24, 100]  // point from which the popup should open relative to the iconAnchor
  });

  var mymap = new L.Map('mapid');

  var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
  var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 19, attribution: osmAttrib});

  mymap.setView(new L.LatLng(41.825017, -71.411064), 9);
  mymap.addLayer(osm);

  <% if @vehicle_position %>
    var marker = L.marker([<%= @vehicle_position.latitude %>, <%= @vehicle_position.longitude %>], {icon: busIcon}).addTo(mymap);
  <% end %>

  <% @trip.stops.each do |s| %>
    L.circle(L.latLng(<%= s.latitude %>, <%= s.longitude %>), {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.7,
      radius: 80
    }).addTo(mymap);
  <% end %>

  var path = [];
  <% @trip.shapes.ordered.each do |s| %>
    path.push (L.latLng(<%= s.latitude %>, <%= s.longitude %>));
  <% end %>
  var polyline = L.polyline(path, {color: 'red'}).addTo(mymap);

  mymap.fitBounds(path);
  mymap.setZoomAround(mymap.getCenter(), mymap.getZoom());
</script>